*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  font-size: 3.2rem;
  display: block;
  font-weight: 400;
  letter-spacing: 0.4rem; }

.heading-secondary {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #34495e;
  display: inline-block;
  transition: all 0.2s;
  letter-spacing: 2px; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-text-center {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-md {
  margin-bottom: 4rem; }

.u-margin-bottom-sm {
  margin-bottom: 1.5rem; }

.u-margin-bottom-xs {
  margin-bottom: 0.5rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #34495ee3, #2c3e50c2), url(../img/header.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 4.5rem; }
  .header__text-box {
    font-size: 1.6rem;
    color: #fff;
    width: 55%;
    padding-top: 30rem;
    padding-left: 4rem; }

.section-tasks {
  padding: 25rem 0;
  margin-top: -20rem;
  background-color: #f7f7f7; }

.section-projects {
  transform: skewY(-7deg);
  padding: 15rem 0;
  margin-top: -12rem;
  background-color: #98a0a8; }
  .section-projects h2 {
    transform: skewY(7deg); }

.tasks {
  font-size: 1.6rem;
  width: 45%;
  margin: 2rem auto; }

.task {
  display: inline-block;
  margin-bottom: 4.5rem;
  text-align: left;
  position: relative; }
  .task__icon {
    width: 5%;
    height: 3rem;
    display: inline-block; }
    .task__icon span {
      width: 3rem;
      height: 3rem;
      border-radius: 500px;
      background-color: #2c3e50;
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
  .task__text {
    width: 94%;
    height: 3rem;
    display: inline-block; }
