.section-tasks {
  padding: 25rem 0;
  margin-top: -20rem;
  background-color: #f7f7f7;

  @media only screen and (max-width: 900px) {
    padding-bottom: 18rem;
    margin-top: -12rem;
  }
}

.section-skills {
  padding: 15rem 0 15rem 0;
  margin-top: -12rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/mac.jpg);
  background-size: cover;
  background-position: center;
  transform: skewY(-7deg);
  position: relative;

  & > * {
    transform: skewY(7deg);
  }

  @media only screen and (max-width: 900px) {
    transform: skewY(0deg);

    & > * {
      transform: skewY(0deg);
    }
  }

  .section-heading {
    h2,
    p {
      color: #fff;
    }

    h2::after {
      background-color: #fff;
    }
  }
}

.section-projects {
  padding: 25rem 0 10rem 0;
  margin-top: -12rem;
  background-color: #f7f7f7;
}

.section-contact {
  padding: 10rem 0 12rem 0;
  background-color: #34495e26;
}

.section-heading {
  .heading-secondary:after {
    display: block;
    height: 2px;
    background-color: #34495e;
    content: " ";
    width: 10rem;
    margin: 0 auto;
    margin-top: 2.5rem;
  }
  p {
    font-size: 1.6rem;
    margin-top: 2.5rem;
    color: #34495e;
    margin-bottom: 4rem;
  }
}
