.button {
  background-color: #34495e;
  color: #fff;
  border: 1px solid #34495e;
  border-radius: 500px;
  padding: 1.2rem 2rem;
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  font-family: inherit;

  &:hover {
    background-color: #263544;
  }

  &:focus {
    outline: none;
    background-color: #263544;
  }
}

a.button {
  padding: 0.8rem 2rem;
}
