.info {
  background-color: #fff;
  border-radius: 8px;
  padding: 1.5rem 3rem;
  text-decoration: none;
  margin-top: 3.5rem;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem rgba(#000, 0.1);
  display: block;
  width: 100%;

  &.open &__description {
    display: block;
  }

  &__description {
    display: none;
    transition: height 0.2s;
    overflow: hidden;
    font-size: 1.6rem;
    margin-top: 0.8rem;
    color: #777;
  }

  h3 {
    display: inline-block;

    @media only screen and (max-width: 470px) {
      width: 35rem;
    }

    @media only screen and (max-width: 370px) {
      width: 30rem;
    }

    @media only screen and (max-width: 330px) {
      width: 25rem;
    }
  }

  img {
    width: 2rem;
    margin-top: 4px;
    float: right;
  }

  &:hover,
  &:focus {
    box-shadow: 0 1rem 1.3rem rgba(#000, 0.2);
  }
}
