.skills {
  max-width: $grid-width;
  margin: 6rem auto 8rem auto;
}

.skill {
  background-color: #fff;
  color: #777;
  text-decoration: none;
  font-size: 1.8rem;
  border-radius: 5px;
  padding: 0.9rem 1.2rem;
  margin: 1.2rem;
  display: inline-block;
  width: 17rem;
  cursor: pointer;
  transition: all 0.2s;

  @media only screen and (max-width: 470px) {
    width: 15rem;
  }

  @media only screen and (max-width: 420px) {
    width: 13rem;
  }

  @media only screen and (max-width: 375px) {
    width: 17rem;
    margin: 1.4rem;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0px 10px 5px rgba(0, 0, 0, 0.8);
  }
}

.skill-sm {
  display: inline-block;
  background-color: #f7f7f7;
  padding: 0.5rem 1rem;
  margin-right: 1.2rem;
  margin-top: 1rem;
  border-radius: 4px;
}
