*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;

  @media only screen and (min-width: 2900px) {
    font-size: 14px;
  }

  @media only screen and (max-width: 1200px) {
    font-size: 9px;
  }

  @media only screen and (max-width: 900px) {
    font-size: 8px;
  }
}

body {
  box-sizing: border-box;
  position: relative;
  padding: 3rem;

  @media only screen and (max-width: 900px) {
    padding: 0;
  }
}

img {
  max-width: 100%;
}
