.u-text-center {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-md {
  margin-bottom: 4rem;
}

.u-margin-bottom-sm {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-xs {
  margin-bottom: 0.5rem;
}

.u-margin-top-sm {
  margin-top: 2rem;
}

.u-display-none {
  display: none;
}
